
header {
background-color:black;
}


.header-wrapper{
justify-content: center;
align-items: center;
height: auto;
max-width: 800px;
margin: 0 auto;
}


.contact-section {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

h3 {

	text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-right: auto; /* push menu to the left */
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: black;
  color:white;
}

.header-wrapper img {
  height: 180px;
  width: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.social-media-ul {
    display: inline;


    }

    .social-media-li {
    display: inline

    }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-top: 200px;
  margin-top: 200px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 200px;
}

.slider img{
  width: 800px;
  height: auto;
  margin: 10px;
}
.container {
	background-color: dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    row-gap: 50px;
  }

  .text-container p {
	color: black;
    flex: 1;
    margin-right: 20px;
  }

  .image-container {
    display: flex;
    flex: 2;
    justify-content: space-between;
  }

  .container img {
    text-align:center;
    width: 150px;
    height: auto;
    margin: 10px;

  }

.comment-section {
    text-align: center;
    margin-top: 400px; /* adjust the top margin as needed */
  }

  .comment-section table {
    float: left; /* float the table to the left */
    margin-right: 120px; /* add some margin to the right of the table */
    margin-top: 400px;
  }

  body {
    margin: 0;
    padding: 0;
  }

#footer{
    margin-top: 200px;
    text-align: center;
}
